.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.styled-table th, .styled-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.styled-table th {
  background-color: #f2f2f2;
  color: #333;
}